<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<servlet>
<servlet-name>EmpLogin</servlet-name>
<servlet-class>com.ss.servlet.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmpLogin</servlet-name>
<url-pattern>/login.emp</url-pattern>
</servlet-mapping>
</web-app>
